<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">

<title>
DARS - NHS
</title>
  <script src="https://www.gov.uk/assets/static/govuk_publishing_components/vendor/lux/lux-measurer-505eef3e243b1d08ea7c4b945ebe1ae146d896db61366e415b30cc1bcd84cbdc.js" async="async"></script>
<script src="https://www.gov.uk/assets/static/govuk_publishing_components/rum-loader-c53469dcb841d7b228c914a2e8bdcf3b831a578adf7d4f21cf9da5b85df7381e.js" async="async"></script>
<link href="https://www.nhs.uk/" rel="preconnect">
<link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
<link href="/css/main.css" rel="stylesheet">
<link href="/css/in-line.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
<script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
<link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
<link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
<link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">

<style type="text/css">


    .gem-c-print-link__button {
    background-image: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-2x-6661abfcb4d537563f5c4ae06a8ddf7623de6ec39b860ca84169b68f5de775c1.png);
}

  .related-content
{
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
  }
.js-enabled .sticky-element--enabled {
    transition: opacity, .3s, ease;
    opacity: 1;
}
.js-enabled .sticky-element--hidden {
    opacity: 0;
    pointer-events: none;
}

.app-related-nav__heading {
    font-size: 19px;
    line-height: 1.2;
    padding-top: 16px;
}

.app-related-nav__item {
    font-size: 16px;
    line-height: 1.5;
}

.app-c-contents-list-with-body__link-wrapper {
    padding-bottom: 10px;
}

.app-c-contents-list-with-body__link-wrapper.sticky-element--stuck-to-window {
    background-color: #d8dde0;
    bottom: -1px;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 0;
    position: fixed;    
    width: 100%;
    z-index: 10;
}
.app-c-contents-list-with-body__link-wrapper.sticky-element--stuck-to-window {
    padding-left: 10px;
}
.app-c-contents-list-with-body__link-container {
    max-width: 1024px;
} 

.app-c-contents-list-with-body__link-container {
    margin: 0px auto;
    padding: 0;
}

.app-c-contents-list-with-body__link-wrapper.sticky-element--stuck-to-window .app-c-back-to-top {
    padding: 20px;
}

.app-c-contents-list-with-body__link-wrapper.sticky-element--stuck-to-window .app-c-back-to-top {
    margin-bottom: 0;

    width: 66.6666666667%;
}

.app-c-contents-list-with-body__link-container .app-c-back-to-top {
    margin-left: 0;
    margin-right: 0;
}
.app-related-nav {
    border-top: 2px solid #005eb8;
}
.gem-c-contents-list{
background: none !important;
box-shadow:none !important;
}
</style>
</head>
<body class="gem-c-layout-for-public govuk-template__body"> 
<script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<header class="nhsuk-header" role="banner">
<div class="nhsuk-width-container nhsuk-header__container app-width-container">
<div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS digital service manual homepage">
<svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
<path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
<path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
</svg>
<span class="nhsuk-header__service-name">
Data Access Request Service
</span>
</a>
</div>

<div class="l-pro-signlink">Janey Mcgregor&nbsp;&nbsp;&nbsp;<a href="#" class="l-signout">Sign out</a></div>

<div class="nhsuk-header__content" id="content-header">

<div class="nhsuk-header__menu">
<button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
</div>
</div>

</div>

<nav class="nhsuk-header__navigation app-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
<div class="nhsuk-width-container app-width-container">
<p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
<button class="nhsuk-header__navigation-close" id="close-menu">
<svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
<path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
</svg>
<span class="nhsuk-u-visually-hidden">Close menu</span>
</button>
</p>
<ul class="nhsuk-header__navigation-list">


<li class="nhsuk-header__navigation-item">
<a class="nhsuk-header__navigation-link" href="/">
Apply for or Manage DSA
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item">
<a class="nhsuk-header__navigation-link" href="/dashboard/dsa/status-expire">
Active DSAs
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item">
<a class="nhsuk-header__navigation-link" href="/">
Data&nbsp;Sharing&nbsp;Framework&nbsp;Contract
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item ">
<a class="nhsuk-header__navigation-link" href="/get-help">
Help
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item ">
<a class="nhsuk-header__navigation-link" href="/dashboard/latest-news">
Updates
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item app-header__navigation-item__item--current">
<a class="nhsuk-header__navigation-link" href="#">
Guidance
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item  l-signout-mob">
<a class="nhsuk-header__navigation-link" href="/">
Signout
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>



</ul>
</div>
</nav>

</header>








<!-- Start Main Section-->


<div class="nhsuk-width-container ">
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<div class="nhsuk-u-padding-bottom-7"></div>
<h1><span class="nhsuk-caption-l nhsuk-caption--bottom">Guidance</span>Data Access Request Service (DARS) Online </h1>
<p class="nhsuk-body-l">Use this service to make an application for data using the online Data Access Request Service (DARS)</p>
</div>
<div class="nhsuk-grid-column-one-third">
</div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--visible">  
</div>



<div class="nhsuk-width-container ">
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<dl data-module="gem-track-click">
      <dt class="gem-c-metadata__term">From: <a href="#">NHS Digital</a></dt>
      <dt class="gem-c-metadata__term">Published 12 October 2022</dt>
      <dt class="gem-c-metadata__term">Last updated 12 October 2022 <a href="#">+ See all updates</a></dt>
    </dl>
</div>


<div class="nhsuk-grid-column-two-thirds">
<div class="nhsuk-u-padding-bottom-7"></div>
<div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">

<div class="responsive-bottom-margin">
<nav class="gem-c-contents-list" aria-label="Contents" role="navigation" data-module="gem-track-click">
<p>
Contents
</p>
<ol>
<li>
<a data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#introduction" data-track-options='{"dimension29":"Introduction to DARS"}' href="#introduction">Introduction to DARS</a>

</li>
<li>
<a data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#general-tips" data-track-options='{"dimension29":"General tips for all DARS applications"}' href="#general-tips">General tips for all DARS applications</a>

</li>
<li >
<a  data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#details" data-track-options='{"dimension29":"Details to include within the DARS application"}' href="#details"> Details to include within the DARS application</a>

</li>
<li >
<a data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#docs" data-track-options='{"dimension29":"Supporting documents"}' href="#docs">
Supporting documents</a>

</li>
<li >
<a data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#legal-basis" data-track-options='{"dimension29":"The legal basis that allows NHS Digital to collect and disseminate data, and applicants to process data"}' href="#legal-basis">The legal basis that allows NHS Digital to collect and disseminate data, and applicants to process data</a>

</li>
<li >
<a  data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#purpose" data-track-options='{"dimension29":"Purpose of the data"}' href="#purpose">Purpose of the data</a>

</li>

<li >
<a  data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#group-advising" data-track-options='{"dimension29":"Independent Group Advising on the Release of Data (IGARD)"}' href="#group-advising">Independent Group Advising on the Release of Data (IGARD)</a>
</li>

<li >
<a  data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#dsfc" data-track-options='{"dimension29":"Data Sharing Framework Contracts (DSFCs)"}' href="#dsfc">Data Sharing Framework Contracts (DSFCs)</a>
</li>

<li >
<a  data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#additional-information" data-track-options='{"dimension29":"Additional information"}' href="#additional-information">Additional information</a>
</li>
</ol>
</nav>
</div>

<div class="nhsuk-u-padding-bottom-4"></div>
<div >
    <button class="nhsuk-link nhsuk-body-s gem-c-print-link__button">Print this page</button>
</div>
<div class="nhsuk-u-padding-bottom-4"></div>


<div class="nhsuk-u-padding-bottom-5"></div>
<div>
<div class="">
<h2 id="introduction">Introduction to DARS </h2>

<p>The Data Access Request Service (DARS) allows users to make an application for the data they need. </p>
<p>To obtain the data, you will need to make an application for a Data Sharing Agreement (DSA). </p>
<p>A DSA is an agreement between you and NHS Digital that sets out: </p>

<ul>
  <li>the purpose of data-sharing </li>
  <li>what happens to the data at each stage</li>
  <li>standards of information expected within an application</li>
  <li>roles and responsibilities of all of those involved in data sharing</li>
</ul>

<p>Data cannot be shared, and your application will not be accepted unless the Controller organisation has a valid Data Sharing Framework Contract (DSFC).</p>

<p>If you are unsure whether the listed Controller organisation has a valid DSFC, contact us on 0300 303 5678, or email <a href="#">enquiries@nhsdigital.nhs.uk </a></p>
<p>The DSFC sets out: </p>
<ul>
  <li>the responsibilities of the recipient organisation</li>
  <li>restrictions on data use </li>
  <li>the security to be provided by the recipient </li>
  <li>how to keep information confidential </li>
  <li>how to meet the requirements of the Data Protection Act </li>
  <li>how to ensure the destruction of information at the end of a contract </li>
</ul>
<p>Users of the DARS Online system should use this guidance to help them when: </p>
<ul>
  <li>completing a new application for data </li>
  <li>making a request for more data </li>
  <li>making a request to retain data </li>
  <li>closing a DSA </li>
  <li>making a change to a DSA</li>
  <li>applying for a DSFC</li>
  <li>approving a DSFC</li>
  <li>renewing a DSFC</li>
</ul>
<p>NHS Digital has produced separate guidance on the information expected in the various sections of a DARS application, the separate sets of guidance are known as ‘Standards’. For each ‘Standard’ there is written guidance that covers important items to consider when making an application. You can find links to Standards to the right of this page under ‘Detailed Guidance’. </p>

<p>Referring to the below <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance#standards-of-information-expected-in-a-data-access-application" target="_blank">Standards of information expected in a data access application (opens in a new window)</a> and the ‘General tips for all DARS applications’, will help you submit a successful application.  </p>
 
<h2 id="general-tips">General tips for all DARS applications </h2>
<p>Help us understand how you will use the data and what benefits data processing will bring </p>

<p>When making an application, you should write so that it is easily understood and covers all the planned uses of the data. Be specific, clear, and unambiguous, and explain which organisation are involved, to include: </p>


<ul>
  <li>who the Controller is and whether they are sole or joint </li>
  <li>who the Processor is </li>
  <li>whether any other organisations are involved in the wider project (but not processing the data), and if so, the nature of their role </li>
  <li>whether there are any Funders or Commissioners involved, and if so, the nature of their role </li>
</ul>
<p>If your purpose is commercial, make sure you clearly explain what you do commercially, why you do it, who your customers are, and how that relates to your application. You must tell us how data processing will benefit the health and social system in England and Wales. The information you need to provide will depend on the degree of commercial involvement.  </p>

<p>Make sure you cover all specific uses. If others are using NHS Digital data, or accessing the outputs of your work, make clear exactly what data they are accessing (such as record-level, or aggregate). </p>

<p>NHS Digital publishes a <a href="https://digital.nhs.uk/services/data-access-request-service-dars/data-uses-register" target="_blank">Data Uses Register (opens in a new window)</a> which includes approved purposes for previous data releases. You can use this register to see what information others have provided in their applications, and where appropriate, use similar wording. </p>

<p>Your finalised agreement text will be published on NHS Digital’s Data Uses Register. Ensure it is written so that it can be easily understood. Supporting documents cannot be viewed on the Data Uses Register, so relevant information you provide within the supporting documentation section of your application should be reproduced in the agreement text. You should explain acronyms and make clear which organisation you are referring to. </p>





<h2 id="details">Details to include within the DARS application </h2>
<p>A DARS application is made through the <a href="#">DARS Online system</a>. The application process requires information about the organisations involved such as: </p>

<ul>
  <li>the Controller </li>
  <li>the Processor </li>
  <li>processing and storage locations</li>
  <li>other organisations involved </li>
</ul>

<p>We also need information about why you are applying for the data, such as: </p>
<ul>
  <li>project title and reason </li>
  <li>commercial implications </li>
  <li>why you are processing the data</li>
  <li>processing activities</li>
  <li>expected outcomes</li>
  <li>expected benefits </li>
</ul>

<p>And information about the: </p>
<ul>
  <li>data</li>
  <li>participants </li>
</ul>

<p>For more information, refer to the <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance#standards-of-information-expected-in-a-data-access-application" target="_blank">Standards of information expected in a data access application (opens in a new window)</a></p>



<h2 id="docs">Supporting documents</h2>

<p>Parts of your application may require supporting documentation. Check that you have any relevant documentation to hand. Documentation might include: </p>
<ul>
  <li>protocol</li>
  <li>ethics approvals </li>
    <li>consent form</li>
  <li>Patient Information Sheets (PIS)</li>
  <li>section 251 (s251) </li>
  <li>Integrated Research Application System (IRAS) reference</li>
</ul>

<p>Supporting documentation should be in a PDF format, with a maximum size limit of 10 MB.</p>
<p>If you are using s251 as a legal basis for identifiable data, you should ensure that you provide the latest application, approval, and subsequent annual review. If you are using patient consent as the legal basis, you will need to provide all relevant consent forms and information leaflets. If this evidence is not provided when submitting your application, it may not be accepted. </p>

<p>When providing ethics approvals as a supporting document, you need to provide information on essential amendments only, such as changes to consent materials, protocol, lead investigators, or purpose. </p>

<p>The supporting documents that we require will vary depending on the type of application that you are making. </p>




<h2 id="legal-basis">The legal basis that allows NHS Digital to collect and disseminate data, and applicants to process data </h2>

<p>Ensuring that there is a legal basis for NHS Digital to provide the data is essential. It is the Controller's responsibility to ensure there is a legal basis under the General Data Protection Regulation (GDPR) and Common Law Duty of Confidentiality. If you require external approvals, for example, a <a href="https://www.legislation.gov.uk/ukpga/2006/41/section/251" target="_blank">Section 251 (opens in a new window)</a>, ensure you have these before submitting an application.</p>

<p>NHS Digital is happy to discuss external approvals in advance of an application being made. We welcome early sight of consent form proposals before research begins so that we can provide you with feedback before recruiting a cohort.  </p>

<p>If the data you wish to receive is pseudonymised, anonymised or anonymous (and no identifiable data is flowing to enable that release), then the legal basis is typically the Health and Social Care Act 2012. </p>

<p>If you wish to receive identifiable data, or identifiable data has flowed to enable the release of data (for example, you may have provided a cohort), then the legal basis is typically s251 or consent. Learn more about what <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/dars-how-to-make-an-application#legal-basis-for-providing-the-data" target="_blank">legal basis (opens in a new window)</a> will apply. </p>

<p>If you rely on consent from research participants to access data from NHS Digital, NHS Digital requires information contained within the PIS to be aligned with the consent forms. </p>

<p>If you are providing NHS Digital with a cohort of  
patients, you should (within the processing section of your application) indicate whether recruitment of the cohort has started and whether it is complete. You should also provide the target or actual sample size of the cohort.  </p>

<p>You can view the ‘data items and data flow diagram’ within the <a href="https://digital.nhs.uk/services/data-access-request-service-dars/data-access-request-service-dars-process/data-access-request-service-dars-pre-application-checklist" target="_blank">pre-application checklist (opens in a new window)</a> for guidance on which identifiers NHS Digital can use to link your cohort members to their health records. You are required to list the data items that you are supplying to NHS Digital in the consent form, s251 application, or PIS. </p>

<p>Recruiting participants to your study can be complex. NHS Digital encourages you to contact us prior to recruiting a cohort. </p>

<p>In rare circumstances, there may be an alternative legal basis that applies to your request for data. If you think an alternative legal basis applies, email <a href="#">enquiries@nhsdigital.nhs.uk</a> to find out.  </p>




<h2 id="purpose">Purpose of the data </h2>

<p>Data that has been provided to you can be used only for the purposes stated within this section. You should provide enough information to tell us about its purpose, while avoiding background information that does not help in this justification. Learn more about what <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-products-and-services" target="_blank">data (opens in a new window)</a> you are requesting and the <a href="https://digital.nhs.uk/services/data-access-request-service-dars/data-access-request-service-dars-charges" target="_blank">charges (opens in a new window)</a> that will apply. </p>

<p>NHS Digital will publish the information in this section within the <a href="https://digital.nhs.uk/services/data-access-request-service-dars/data-uses-register" target="_blank">Data Uses Register (opens in a new window)</a>. </p>

<p>Avoid using references to the first person, such as “we, “us”, “I”, and referencing the names of individuals. You should use third-person language where possible, for example, “he”, “she”, “it”, and “they”. </p>

<p>You should: </p>

<ul>
  <li>use the word "only" to help you describe its purpose, for example, "this data will only be used to produce..." </li>
  <li>state (where appropriate) what the data will not be used for, for example, “not used for commercial purposes”, “not provided in record-level form to any third party”, “not used for direct marketing” </li>
  <li>write with the assumption that your application will be viewed by the public and therefore written in simple, easy-to-understand language  </li>
  <li>be specific about the size of any customer base, if you have both NHS and commercial sector customers, ensure that you state the relative split between those customer segments </li>
</ul>




<p>You should make clear: </p>

<ul>
  <li>the objectives for processing (specific purpose)</li>
  <li>what organisations will be using the data  </li>
  <li>what the expected outputs are </li>
  <li>whether the outputs are in record-level form, presenting unique, non-aggregated data that relate to a single identifiable individual, provider or hospital </li>
  <li>the benefits to the health and social care system, and when they will be delivered </li>
  <li>whether the application is in any way commercial and if so, how? </li>
</ul>

<p>Applications (except for anonymised tabulations) which are solely for commercial purposes and do not demonstrate benefit to the health and social care system will not be approved. </p>



<h2 id="group-advising">Independent Group Advising on the Release of Data (IGARD) </h2>

<p>When making a DARS application, there are several application pathways that could be relevant to you depending on the answers you provide to questions within the service.</p>

<p>The IGARD pathway will apply to most new DSA applications, and to some existing DSAs where you request changes to the information you have provided about: </p>

<ul>
  <li>the organisations involved </li>
  <li>why you are applying for data </li>
  <li>data and participants </li>
</ul>

<p>Where you application takes the IGARD pathway, IGARD will independently assess your application for data. </p>

<p>For PhD or research projects typically delivering dissertations, peer-reviewed journal publications or both, see <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/independent-group-advising-on-the-release-of-data" target="_blank">IGARD guidance (opens in a new window)</a>. </p>


<h2 id="dsfc">DSFCs </h2>

<p>The DSFC is an over-arching document that specifies the basis for data to be shared and outlines the terms and conditions of how data must be managed once it has been released to the Controller.</p>

<p>While you may start and save an application for data before you have a DSFC, you will need to have a DSFC before your application is accepted and data is released. </p>

<p>All organisations that request data from NHS Digital are required to have a DSFC. A DSFC ensures that data-sharing controls are in place, and grants NHS Digital the right to carry out audits to check that data is processed in line with the terms of the DSFC and DSA </p>

<p>You can use DARS Online to apply for, approve, or renew a DSFC. Anyone can make an application for a DSFC on behalf of an organisation, providing they have access to DARS Online. </p>

<p>The person that approves the DSFC is usually a senior staff member such as a Senior Information Risk Officer (SIRO) or equivalent. </p>
<p>If you have questions about your DSFC or need to make changes to it, email <a href="#">data.applications@nhsdigital.nhs.uk </a></p>



<h2 id="additional-information">Additional information </h2>

<p>Further guidance on completing an application is available from NHS Digital on 0300 303 5678, or you can email <a href="#">enquiries@nhsdigital.nhs.uk</a> quoting ‘DARS application’ in the subject field. </p>



<p>If your enquiry refers to an existing or previous application, quote your existing reference number (for example, DARS-NIC-999999-AAAAA) in the subject field. </p>


<p>The <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance#standards-of-information-expected-in-a-data-access-application" target="_blank">Standards of information expected in a data access application (opens in a new window)</a> will support you in completing the various stages of a DARS application. </p>

<p>If you would like to withdraw or close a DSA, email <a href="#">enquiries@nhsdigital.nhs.uk</a> quoting either ‘Withdraw agreement’ or ‘Close agreement’ in the subject field. </p>


</div> 

</div>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
<div class="nhsuk-body-s">
<span>Published 17 October 2022</span><br/><span>Last updated 17 October 2022 <a href="#">+ show all updates</a></span>
</div>

<!-- <p><a href="#">Download</a></p> -->



<div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper">
<div class="app-c-contents-list-with-body__link-container">
<a class="govuk-link app-c-back-to-top dont-print" href="#contents">
<svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
</svg>
Contents
</a>

</div>
</div>
</div>
</div>





<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-u-padding-bottom-7"></div>


<div class="app-related-nav">
<h2 class="app-related-nav__heading">Detailed guidance</h2>
<nav role="navigation" class="app-related-nav__nav-section">
<ul class="app-related-nav__list">
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/commercial-purpose" target="_blank" class="app-related-nav__link">Commercial Purpose</a>
</li>
<li class="app-related-nav__item">
  <a class="app-related-nav__link" href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/controllers" target="_blank">Data Controllers</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/data-minimisation" target="_blank" class="app-related-nav__link">Data Minimisation</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/processors" target="_blank" class="app-related-nav__link">Data Processors</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/dpa-registration" target="_blank" class="app-related-nav__link">Data Protection Act Registration</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/data-sharing-standard-7b---duty-of-confidentiality" class="app-related-nav__link" target="_blank">Duty of Confidentiality</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/ethical-approval" target="_blank" class="app-related-nav__link">Ethical Approval</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/expected-measurable-benefits" target="_blank" class="app-related-nav__link">Expected Measurable Benefits</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/expected-outcomes" target="_blank" class="app-related-nav__link">Expected Outcomes </a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/gdpr-consent" target="_blank" class="app-related-nav__link">GDPR Consent</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/objective-for-processing" target="_blank" class="app-related-nav__link">Objective for Processing</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/patient-objections" target="_blank" class="app-related-nav__link">Patient Objections</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/processing-activities" target="_blank" class="app-related-nav__link">Processing Activities</a>
</li>
<li class="app-related-nav__item">

    <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/security-assurance" target="_blank" class="app-related-nav__link">Security Assurance</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/special-conditions" target="_blank" class="app-related-nav__link">Special Conditions</a>
</li>
<li class="app-related-nav__item">
 <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/sub-licencing-and-onward-sharing-of-data" class="app-related-nav__link" target="_blank">Sub-Licencing and Onward Sharing</a>
</li>
<li class="app-related-nav__item">
  <a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/term-of-data-sharing-agreement" target="_blank">Term of Data Sharing Agreement</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/territory-of-use" target="_blank" class="app-related-nav__link">Territory of Use</a>
</li>
<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/services/data-access-request-service-dars/dars-guidance/transparency-fair-processing"  class="app-related-nav__link" target="_blank">Transparency (fair processing)</a>
</li>

</ul>
</nav>
</div>


<h2 class="app-related-nav__heading related-content">Related content</h2>

<li class="app-related-nav__item">
<a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/independent-group-advising-on-the-release-of-data)" target="_blank" class="app-related-nav__link">IGARD guidance</a>
</li>
        
  </div>
</div>





</div>
</div>
</div>



   
</body>





<!-- End Main Section-->    

<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="/about-us" class="nhsuk-footer__list-item-link" target="_blank">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/contact-us/freedom-of-information" class="nhsuk-footer__list-item-link" target="_blank">Freedom of information</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/privacy-and-cookies" class="nhsuk-footer__list-item-link" target="_blank">Privacy and cookies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Change cookie settings</a></li>
        <li class="nhsuk-footer__list-item"><a href="/contact-us" class="nhsuk-footer__list-item-link" target="_blank">Contact us </a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/terms-and-conditions" class="nhsuk-footer__list-item-link" target="_blank">Terms and conditions </a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/data" class="nhsuk-footer__list-item-link" target="_blank">Data</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>





<!-- Custom JavaScript files can be added to this file -->

<script src="https://www.gov.uk/assets/static/application-205d2642ac5d6a187eda572b255437343ada43829d9a73e7ccfa5bdc7e721182.js"></script>
<script src="https://www.gov.uk/assets/government-frontend/application-cc1b87cb7f7a7266f46b044ca2fdbe06fe48f196c15b5dbc53f62ca09af57aba.js"></script>

</body>
</html>
