<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">

{% endblock %}    

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Data access request service",
        "href": "/"
      },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/",
        "label" : "Apply for DSA"
      },
      {
        'url' : '/',
        'label' : 'Data Sharing Agreements'
      },
      {
        'url' : '/',
        'label' : 'Data Sharing Framework Contract'
      },
      {
        'url'  : '/',
        'label' : 'News'
      },
      {
        'url'  : '/',
        'label' : 'Get Help'
      }
      
    ]
    })
  }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "NHS Sites"
      },
      {
        "URL": "/",
        "label": "About Us"
      },
      {
        "URL": "/",
        "label": "Contact Us"
      },
      {
        "URL": "/",
        "label": "Sitemap"
      },
      {
        "URL": "/",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
